# Credenciales para CEC BI
CEC_CLIENT_ID=tu_client_id
CEC_CLIENT_SECRET=tu_client_secret
CEC_USERNAME=tu_usuario
CEC_PASSWORD=tu_password
CEC_BASE_URL=https://dev.bi.empresascec.com/backend

# Credenciales para MOJITO BI
MOJITO_CLIENT_ID=tu_client_id
MOJITO_CLIENT_SECRET=tu_client_secret
MOJITO_USERNAME=tu_usuario
MOJITO_PASSWORD=tu_password
MOJITO_BASE_URL=https://reporting.dev.mojito360.com/backend
